.App{
 width: 100vw;
 height: 100vh;
display: flex;
justify-content: space-around;
}
.Menubar{
 width: 15vw;
 height: 90vh;
 position: relative;
}
.btn{
  width: 100px;
  padding: 1rem;
  background-color: red;
  color: white;
  position:absolute;
  outline: none;
  border: none;
  border-radius: 4rem;
  bottom: 0;
  right: 0;
}
.mobile_icons{
  display: none;
}
.Header_card{
  width: 80vw;
  height: 90vh;
}
.Header{
 width: 80vw;
 height: 32vh;
}
.cards{
  width: 1000px;
  padding: 1rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;

}

@media (min-width:0px) and (max-width:768px){

  .App{
    width: 100%;
   }
  .Menubar{
    display: none;
  }
  .mobile_icons{
   width: 300px;
    display: flex;
    position: relative;
    left: 35px;
    padding-top:  0.9rem; 
  }
  .card_hide{
    display: none;
  }
 
  .Header_card{
   width: 80%;
  }
  .cards{
    width: 350px;
    margin-top: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .Card_Title{
    font-size: 14px;
  }


}